{% block default_control_buttons %}
    <div class="topnav">
        {% if app.request.attributes.get('_route') == 'constructor' %}
            <div class="btn-group">
                <a data-placement="bottom" data-original-title="Зберегти" data-toggle="tooltip"
                   class="btn btn-default save-circuit btn-sm" id="menu-toggle">
                    <i class="fa fa-save"></i>
                </a>
                <a data-placement="bottom" data-original-title="Запустити" data-toggle="tooltip"
                   class="btn btn-default play-circuit btn-sm"> <span class="fa fa-play"></span>
                </a>
            </div>
        {% endif %}
        <div class="btn-group">
            <a data-toggle="modal" data-original-title="Допомога" data-placement="bottom"
               class="btn btn-default btn-sm" href="#helpModal">
                <i class="fa fa-question"></i>
            </a>
        </div>
        <div class="btn-group">
            {% if app.user %}
                <a href="{{ path('fos_user_security_logout') }}" data-toggle="tooltip" data-original-title="Вийти"
                   data-placement="bottom"
                   class="btn btn-danger btn-sm">
                    <i class="fa fa-power-off"></i>
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" data-toggle="tooltip" data-original-title="Увійти"
                   data-placement="bottom"
                   class="btn btn-success btn-sm">
                    <i class="fa fa-power-off"></i>
                </a>
            {% endif %}
        </div>
        <div class="btn-group">
            <a data-placement="bottom" data-original-title="Приховати головне меню" data-toggle="tooltip"
               class="btn btn-primary btn-sm toggle-left" id="menu-toggle">
                <i class="fa fa-bars"></i>
            </a>
            {% if app.request.attributes.get('_route') == 'constructor' %}
                <a data-placement="bottom" data-original-title="Показати конструктор" data-toggle="tooltip"
                   class="btn btn-default btn-sm toggle-right"> <span class="fa fa-puzzle-piece"></span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block default_navigation_menu %}
    {% set pages = helper.topMenu %}
    <ul class="nav navbar-nav">
        {% for page in pages %}
            {% if page.children|length == 0 %}
                {% spaceless %}
                    <li><a href="
                {% if page.page.url is defined %}
                    {{ path('page', { url:page.page.url }) }}
                {% else %}
                    {{ page.page.path }}
                {% endif %}
                ">{{ page.page.title }}</a></li>
                {% endspaceless %}
            {% else %}
                <li class='dropdown '>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ page.page.title }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for child in page.children %}
                            <li><a href="{{ path('page', { url:child.page.url }) }}">{{ child.page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}

    </ul>
{% endblock %}

{% block default_user_info %}
    {% if app.user %}
        <div class="media user-media">
            <div class="user-media-toggleHover">
                <span class="fa fa-user"></span>
            </div>
            <div class="user-wrapper">
                <div class="media-body">
                    <h3 class="media-heading">{{ app.user.fullName }}</h3>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block default_main_menu %}
    {% if app.user %}
        <ul id="menu" class="">
            <li class="nav-header">Меню</li>
            <li class="nav-divider"></li>
            {% set items = left_menu.items %}
            {% for item in items %}
                {% if item.children|length == 0 %}
                    <li class="{{ item.container_class }}">
                        <a href="{{ item.url }}">
                            <i class="{{ item.class }}"></i><span class="link-title">{{ item.title }}</span>
                        </a>
                    </li>
                {% else %}
                    <li class="{{ item.container_class }}">
                        <a href="javascript:;">
                            <i class="{{ item.class }}"></i>
                    <span class="link-title">
                    {{ item.title }}
                    </span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul>
                            {% for child in children %}
                                <li class="{{ child.container_class }}">
                                    <a href="{{ child.url }}">
                                        <i class="{{ child.class }}"></i>&nbsp;{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
    {% endif %}
{% endblock %}

{% block default_right_info %}
    {% if app.request.attributes.get('_route') == 'constructor' %}
        {% import "@Circuit/Dafault/circuit.html.twig" as circuit %}
        {{ circuit.components_list() }}
    {% endif %}
{% endblock %}
