{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div id="login" class="tab-pane active">
        {% if error %}
            <div class="alert alert-danger">
                {{ error|trans }}
            </div>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <input type="text" placeholder="{{ 'security.login.username'|trans }}" id="username" name="_username"
                   value="{{ last_username }}" required="required" class="form-control"/>

            <input type="password" id="password" name="_password" required="required"
                   placeholder="{{ 'security.login.password'|trans }}" class="form-control"/>

            <input type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" value="{{ 'security.login.submit'|trans }}"/>
        </form>
    </div>
{% endblock fos_user_content %}
