{% block image_widget %}
    {% spaceless %}
        {% set type = type|default('file') %}
        <div class="{{ horizontal_input_wrapper_class }}">
            {% if widget_addon_prepend|default(null) is not null %}
                {% set widget_addon = widget_addon_prepend %}
                {{ block('widget_addon') }}
            {% endif %}
            <input type="{{ type }}" {{ block('widget_attributes') }}/>
            <div class="{{ preview_class }}">
                <img src="{{ data }}" {% if preview_width != 0 %}width="{{ preview_width }}"{% endif %}} title="{{ data }}" />
            </div>
            {% if type != 'hidden' and  widget_addon.type|default(null) is not null %}
                {% if widget_addon_append|default(null) is not null %}
                    {% set widget_addon = widget_addon_append %}
                    {{ block('widget_addon') }}
                {% endif %}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}